* {
  margin: 0;
  padding: 0;
}

html body {
  background-color: cornsilk;
}

nav ul li {
  list-style: none;
  float: right;
  margin-bottom: 30px;
}

nav ul li:first-child {
  float: left;
}

nav {
  background-color: transparent;
  line-height: 40px;
  text-align: right;
  padding-bottom: 50px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding: 12px;
  color: black;
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(114, 56, 56);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

nav a:active {
  color: white;
  border-radius: 5px;
}

.left {
  text-align: left;
  margin-right: 0;
}

.section-1 {
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}

.label {
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(114, 56, 56);
  padding: 10px;
}

.but {
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #00d1b2;
  color: white;
  border-radius: 4px;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
}

.but :hover {
  opacity: 1;
}

.fieldset {
  width: 500px;
  background-color: #f0eedc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.hexvalue {
  height: 50px;
  min-height: 10px;
  border-radius: 4px;
  width: 400px;
  font-size: 25px;
  border-color: lightgreen;
  color: black;
  font-weight: bold;
  margin: 10px;
}

.blue {
  width: 50px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  color: blue;
  border: 3px;
  border-color: none;
  border-radius: 4px;
  border-style: solid;
  margin-right: 30px;
}

.red {
  width: 50px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  color: red;
  border: 3px;
  border-color: none;
  border-radius: 4px;
  border-style: solid;
  margin-right: 30px;
}

.green {
  width: 50px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  color: green;
  border: 3px;
  margin: 10px;
  border-color: none;
  border-radius: 4px;
  border-style: solid;
  margin-right: 30px;
}

.rgbvalue {
  height: 50px;
  min-height: 10px;
  border-radius: 4px;
  width: 400px;
  font-size: 25px;
  border-color: lightgreen;
  color: black;
  font-weight: bold;
  margin: 10px;
}

.result {
  height: 100px;
  width: 480px;
  border: blue;
  background-color: black;
  margin: 2px;
}

.examples {
  text-align: center;
  margin: 10px;
}

.special {
  font-style: italic;
  font-weight: bold;
  margin: 10px;
  font-size: 22px;
}

.ul {
  list-style: none;
  font-size: 18px;
}

.ull {
  font-size: 18px;
  font-weight: 400;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}
